<form action="sendMessage">
  <h1>Send message!</h1>

  <p>
    <label>
      Put in a comma-separated list of phone numbers,
      emails, or names of existing contacts
      <textarea name="contacts"></textarea>
    </label>
  </p>

  <p>
    <label>
      Message (140chars max)
      <textarea name="text"></textarea>
    </label>
  </p>

  <p>
    <button type="submit" class="btn btn-primary">
      Send message
    </button>
  </p>
</form>